@font-face {
  font-family: cormorant_garamond;
  src: url(fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

@font-face {
  font-family: cormorant_garamond;
  src: url(fonts/Cormorant_Garamond/CormorantGaramond-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: libre_barcode_39;
  src: url(fonts/Libre_Barcode_39_Text/LibreBarcode39Text-Regular.ttf);
}

.content {
  margin-left: 100px;
}

.barcode {
  font-family: libre_barcode_39;
  font-size: 1.2em;
}

.bold {
  color: black;
}

h1 {
  font-size: 2em;
  font-style: italic;
  font-weight: normal;
  margin-left: 0.5em;
}

h2 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: normal;
  margin-left: 0.5em;
}

p {
  font-size: 1em;
  color: #6f6f6f;
}

a {
  text-decoration: none;
  color: black;
  font-style: italic;
}